@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Montserrat";
    list-style: none;
    scroll-behavior: smooth auto;
    display: flex;
    min-height: 100vh;
    background-color: rgba(109,205,221,1);
    flex-direction: column;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4em;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    z-index: 20;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.debug{
    display: flex;
    align-items: center;
    color: rgb(7,28,45);
    font: normal 500 1.3em "Montserrat";
    text-decoration: none;
    cursor: pointer;
    margin-left: 13rem;
}

.tag:hover{
    color: rgba(109,205,221,255);
    border-bottom: solid 2px rgba(109,205,221,255);
    padding-bottom: 0.4vh;
    transition: 0.1s ease;
}

.debug img{
    max-width: 10vw;
    border-radius: 50%;
    border: 1px solid rgba(109,205,221,255);
    margin-right: 1rem;
}

.links{
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 1.2em;
    gap: 2em;
    margin-right: 13rem;
}

.links a{
    text-decoration: none;
    color: rgb(7,28,45);
}

.links a:hover{
    color: rgba(109,205,221,255);
    transition: 0.3 ease;
}

.header{
    display: flex;
    height: 63vh;
    padding: 11rem 11.5rem;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    margin-top: auto;
}

.headerbox{
    position: relative;
    margin: 0 auto;
    width: 100rem;
    height: 50rem;
    gap: 5rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.shape1{
    position: relative;
    background-color: rgb(26, 53, 77);
    height: 30em;  
    width: 30em;
    left: 0;
    top: 0;
}

.shape2{
    position: absolute;
    background-color: rgba(109,205,221,255);
    height: 30em;  
    width: 30em;
    top: 9em;
    left: 9em;
}

.shapecontainer{
    position: relative;
    width: 40em;
    height: 40em;
    overflow: hidden;
}

.hello{
    position: relative;
    width: 45em;
    height: auto;
    color: black;
    text-align: justify;
}

.container{
    position: relative;
    height: auto;
    width: 100%;
    background-color: rgba(125,205,221,255);
}

.textcontainer{
    position: relative;
    padding: 5rem;
    display: flex;
    justify-content: center;
}

.hello h1{
    font: bold 4em "Montserrat";
    font-weight: 600;
}

.left {
    position: absolute;
    left: 2vw;
    max-height: 53vh;
    text-align: justify;
    overflow-y: auto;
}

.left h1, .left h4{
    width: 35vw;
}

.left p{
    position: relative;
    width: 35vw;
    height: 10%;
    max-height: 10%;
}

.right{
    position: absolute;
    left: 41vw;
    display: flex;
    justify-content: center;
}

.right img{
    position: static;
    border-radius: 50%;
    border: 3px solid rgba(109,230,221,255);
    width: 20vw;
    box-shadow: 0px 0px 20px 10px rgba(109,205,221,255);
}

#highlight{
    color: rgba(109,205,221,255);
}

.thingscontainer{
    width: 85rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.thing1, .thing2, .thing3{
    border: 2px solid black;
    width: 25em;
    height: 40em;
    background-color: white;
}

.footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.leftcontainer{
    display: flex;
    font: normal 200 0.9em "Montserrat";
    width: 50%;
    height: auto;
    justify-content: left;
    padding: 3em 5em;
}

.rightcontainer{
    display: flex;
    font: normal 200 0.9em "Montserrat";
    width: 50%;
    justify-content: right;
    height: auto;
    padding: 3em 5em; 
}

.navbackground{
    background-color: white;
    height: 4em;
}

.about__container{
    width: 100%;
    display: flex;
    padding-bottom: 7vh;
    justify-content: center;
    background-color: rgba(120,205,221,255);
    padding-bottom: 5vh;
}

.title__container h1{
    display: flex;
    justify-content: center;
    font: bolder 3em "Montserrat";
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.story{
    font: bold 1.5em "Montserrat";
    margin-left: 1vw;
    margin-bottom: 6vh;
}

.myjourney{
    font: bold 1.5em "Montserrat";
    margin-top: 10vh;
    margin-left: 1vw;
    margin-bottom: 6vh;
}

.mygoal{
    font: bold 1.5em "Montserrat";
    margin-left: 1vw;
    margin-bottom: 6vh;
}


.square1, .square2, .square3{
    font-size: 1em;
    display: flex;
    width: 38em;
    background-color: white;
    margin-top: 0vh;
    margin-bottom: 8vh;
    font-weight: 50;
    text-align: justify;
    padding: 2.5vh 2.5vw;
    box-shadow: 0 0 2em 0.3em rgba(71, 146, 173, 0.6);
}

.project__container h1{
    display: flex;
    justify-content: center;
    font: bold 3em "Montserrat";
    margin-top: 10vh;
    margin-bottom: 8vh;
}

.project__title{
    font: bold 2em "Montserrat";
    margin-left: 4vw;
    margin-bottom: 6vh;
}

.box1, .box2, .box3{
    display: flex;
    margin: 8vh 4vw;
    width: 43em;
    background-color: white;
    box-shadow: 0 0 2em 0.3em rgba(71, 146, 173, 0.6);
}

.boxes p{
    padding-bottom: 0.8em;
}

.boxleft{
    margin: 0;
    width: 17em;
    font: lighter 1em "Montserrat";
    padding-left: 2em;
}

.rectangle{
    position: relative;
    width: 0.7em;
    height: 2.5em;
    background-color: rgba(125,205,221,255);
    left: -2em;
}

.boxleftinside{
    display: flex;
    align-items: center;
}

.boxright{
    width: 22em;
    height: 34em;
    align-items: center;  
    overflow: hidden;
}

.boxright img{
    position: static;
    width: 50rem; 
    height: 30rem;
    padding: 2em;
    display: flex;
    align-items: center;
}

#titles{
    position: relative; 
    color: rgb(37, 150, 190);
    font-size: 1.4em;
    margin: 1em 0 0.5em default;
    left: -0.5em;
}

#information{
    top: 0;
    margin: 0 0 0 0;
}

.reachoutcontainer{
    display: flex;
    margin: 3em 0;
    padding: 0em 3em 3em 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reachout{
    background-color: white;
    margin: 0 auto;
    padding: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 2em 0.3em rgba(71, 146, 173, 0.6);
}

.fill{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20em;
    align-items: center;
    padding: 1em 1em;
}

.fill input{
    font-family: "Montserrat";
}

.emailfill{
    margin: 1em 0;
}

.emailfill label{
    font-size: 1.1em;
}

.emailfill input{
    display: flex;
    width: 50em;
    padding: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px black;
    font-family: "Montserrat";
}

.emailfill input:hover, input:focus{
    outline: none;
    border-bottom: solid 2px rgba(125,205,221,1);
}

.firstandlast{
    display: flex;
    gap: 1.3em;
}

.fill label{
    display: flex;
    font-size: 1.1em;
    align-self: flex-start;
    font: normal 1em black "Montserrat";
}

.fill input{
    width: 24em;
    padding: 1em;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px black;
    box-sizing: border-box;
}

.fill input:focus, input:hover{
    outline: none;
    border-bottom: solid 2px rgba(125,205,221,1);
}

.message textarea{
    border-bottom: solid 1px rgba(0, 0, 0, 1);
    border-right: none;
    border-left: none;  
    border-top: none;
    resize: none;
    width: 52em;
    height: 15em;
    padding: 1em;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

.message textarea:focus, textarea:hover{
    outline: none;
    border-bottom: solid 2px rgba(125,205,221,1);   
}

.message label{
    font-size: 1.1em;
}

.rememberme{
    display: flex;
    align-self: flex-start;
    gap: 0.2em;
    padding: 1em;
}

.rememberme input{
    cursor: pointer;
}

.reachout button{
    font: normal 1.1em "Montserrat";
    width: auto;
    display: flex;
    align-self: center;
    padding: 0.7em 1em;
    background-color: rgba(125,205,221,1);
    outline: solid;
    outline-color: rgba(125,205,221,1);
    border: none;
    color: white;
    border-radius: 5em;
    cursor: pointer;
}

.reachout button:active{
    background-color: white; 
    color: black;
    outline: solid;
    outline-color: rgba(125,205,221,1); 
}

.contactme h1{
    margin-top: 10vh;
    font: bold 3em "Montserrat";
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactdesc{
    position: relative;
    margin: 0 auto;
    width: 45em;
    text-align: justify;
}

.contactdesc p{
    font: normal 1.2em "Montserrat";
    line-height: 1.4;
}